<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <%- include('../includes/header.ejs') %>
    </div>
    <% if (response) { %>
      <div>
        <%- include('../response.ejs') %> 
      </div>
    <% } %>
      <div class="include-body">
        <%- body %>
      </div>
      <% if (active) { %> 
        <div class="div-input">
          <form action="/moein" class="form-input" method="get">
            <!-- <form action="/" class="form-input" method="GET"> -->
              <div class="div-row">
                <%- include('../includes/input-row.ejs') %>
              </div>
              <!-- </form> -->
              <%- include('../includes/list-variable.ejs') %> 
              <div class="last-input">
                <%- include('../includes/input-last.ejs') %> 
              </div>
              <input type="submit" value="محاسبه" class="my-sub">
          </form> 
        </div>
        <% } %>
      <div>
        <%- include('../includes/footer.ejs') %>
      </div>
  </body>
</html>
